Step 1: Train-Test Split and Feature Scaling

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

Step 2: Load Dataset

In [7]:
df = pd.read_csv("loan.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

Step 3: Separate Features and Target

In [10]:
X = df.iloc[:, :-1]  # all rows, all columns except last (features)
y = df.iloc[:, -1]   # all rows, last column only (target)

Step 4: Split into Training and Testing Sets

In [11]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

Step 5: Feature Scaling (Standardization)

In [12]:
# Select only numerical columns for scaling
numerical_cols = X_train.select_dtypes(include=['number']).columns

scaler = StandardScaler()

# Apply scaler to numerical columns in X_train and convert back to DataFrame
X_train[numerical_cols] = scaler.fit_transform(X_train[numerical_cols])

# Apply scaler to numerical columns in X_test and convert back to DataFrame
X_test[numerical_cols] = scaler.transform(X_test[numerical_cols])